  @tailwind components;
  @tailwind utilities;

  .tailwind-scope {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  }

  body {
    font-family: "Spectral", serif;
  }

  @media (max-width: 425px) {
    .searchselect {
      width: 45%;
      background-color: inherit;
    }
  }

  .searchselect {
    background-color: inherit;
  }