  @tailwind components;
  @tailwind utilities;

  .tailwind-scope {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  }

  body {
    font-family: "Spectral", serif;
  }

  @media (max-width: 425px) {
    .searchselect {
      width: 45%;
      background-color: inherit;
    }
  }

  .searchselect {
    background-color: inherit;
  }

  .main-container {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1.5s ease-in, transform 1.5s ease-in;
  }

  body.loaded .main-container {
    opacity: 1;
    transform: translateY(0);
  }